@model List<Student>
@{
    ViewData["Title"] = "Edit";
}
<hr />
<h1>Add Student to course</h1>
<br />
<hr />

<tr class="offset-2">
    <td>
        <a class="btn btn-primary" asp-action="Index" asp-controller="Course">Return</a>
    </td>
</tr>

@if (Model != null || Model.Count != 0)
{
    foreach (var item in Model)
    {
        <partial name="_AddStudents" model="item" />
    }
}
else
{
    <tr>
        <th>
            <h3>
                All Students are already assigned to this course.
            </h3>
        </th>
    </tr>
}
