@model List<StudentsCourses>
@{
    ViewData["Title"] = "Edit";
}
<hr />
<h1>Add Student to course</h1>
<br />
<hr />

<table class="table-active col-3 border">
    <thead>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <partial name="_StudentsCoursesTesting" model="item" />
            }
        }
        else
        {
        <tr>
            <td>
                <h3>
                    There are no available students for this course. Add some!
                </h3>
            </td>
        </tr>
        }
        @*@foreach (var item in Model.Students)
            {
                <partial name="_AddStudents" model="Model" />
            }*@


    </thead>
    <tbody>
        <tr>
            <td>
                <a class="btn btn-success" asp-action="Index" asp-controller="Course">Return</a>
            </td>
        </tr>
    </tbody>
</table>