@model Course
@{
    ViewData["Title"] = "Index";
}
<hr />
<h3 class="offset-1">Create new Course</h3>
<br />
<hr />

<form method="post" class="offset-1" asp-action="Create" asp-controller="Course">
    <input type="text" asp-for="Title" placeholder="Title.." value="" />
    <br />
    <br />
    <input type="text" asp-for="Subject" placeholder="Subject.." value="" />
    <br />
    <br />
    <input type="submit" class="btn btn-success" value="Create" />
    <a asp-action="Index" asp-controller="Course" class="btn btn-primary">Return</a>
</form>