@model List<Assignment>
@{
    ViewData["Title"] = "EditAssignment";
}
<br />
<h1 class="offset-2">Edit Assignment</h1>
<h3 class="offset-2">Note: Only the assignment you press "Submit" on will be edited.</h3>
<hr />
<br />

@foreach (var item in Model)
{
    <partial name="_EditAssignment" model="item" />
}