@model Course
@{
    ViewData["Title"] = "Edit";
}

<br />
<h1 class="offset-6">Edit</h1>
<hr />
<br />

<form class="offset-4" asp-action="Edit" asp-controller="Course" asp-route-id="@Model.Id" method="post">
    <table class="table-active col-4 border">
        <tr class="row main-tr">
            <td><input asp-for="Title" value="@Model.Title" /></td>
        </tr>
        <tr class="row main-tr">
            <td><input asp-for="Subject" value="@Model.Subject" /></td>
            <td class="col-12"><hr /></td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn btn-success" value="Submit" />
                <a class="btn btn-primary" asp-action="Index" asp-controller="Course">Return</a>
                <a class="btn btn-danger" asp-action="Remove" asp-controller="Course" asp-route-id="@Model.Id">Remove Course</a>
            </td>
        </tr>
    </table>
</form>