
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h3>
    Hello, This is the Course-Index section.<br />
    Writing all this to check if it works like I hope it should.
</h3>
@* Change this later on. *@
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Subject</td>
            <td>Id</td>
            <td>Id</td>
            <td>Id</td>
        </tr>
    </thead>
</table>