@model List<Course>

<hr />
<h3 class="offset-1">Create new Course</h3>
<br />
<hr />

<table class="table-striped offset-1 container">
    <thead>
        <tr class="row">
            <th class="col-1 border">ID</th>
            <th class="col-3 border">Title</th>
            <th class="col-2 border">Subject</th>
            @*<th class="col-2 border">Grades</th>*@
            <th class="col-4 border">Options</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                @await Html.PartialAsync("_Course", item);
            }
        }
    </tbody>
</table>
<br />
<br />
<a class="offset-1" asp-action="Create" asp-controller="Course">
    <input type="submit" class="btn btn-primary" value="Create Course" />
</a>