@model Teacher
@{
    ViewData["Title"] = "Create";
}
<br />
<h1>Create</h1>
<hr />
<br />

<form asp-action="Create" asp-controller="Teacher" method="post" class="offset-1">
    <input asp-for="FirstName" value="" placeholder="First name.." />
    <input asp-for="SecondName" value="" placeholder="Second name.." />
    <input asp-for="Specification" value="" placeholder="Specification.." />
    <input asp-for="PhoneNumber" value="" placeholder="Phonenumber.." />

    <button class="btn btn-success">Create</button>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Teacher">Go back</a>
</form>