body {
    background-color: darkslategrey;
    color: white;
}

#main-nav {
    margin: 0 0 50px 0;
}
#funny-llama {
    height: 40px;
    width: 60px;
}
table {
    color: white;
}
tr {
    margin: 0;
}
td {
    padding: 5px;
    text-align: left;
}
